<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gachon.teama.frimo">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="false" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="false" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        android:required="false" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="false" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        tools:targetApi="31">

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.OnboardingActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.AuthorityActivity" />
        <activity android:name=".ui.SetNicknameActivity" />
        <activity android:name=".ui.MainActivity" />

        <!-- Chatting -->
        <activity android:name=".ui.MyBestFriendActivity" />
        <activity android:name=".ui.SetCharacterActivity" />
        <activity
            android:name=".ui.ChattingActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- Diary -->
        <activity android:name=".ui.DiaryActivity" />

        <!-- Setting  -->
        <activity android:name=".ui.ChangeNicknameActivity" />
        <activity android:name=".ui.NoticeActivity" />
        <activity android:name=".ui.GuideActivity" />

    </application>

</manifest>